body{
    font-family: Verdana;
    font-size: larger;
}
nav{
    font-size: xx-large;
    text-align: center;
    margin: 30px 30px;
}
nav a{
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    color: #AC093B;
}
button{
    color: #212121;
    font-size: larger;
}
input{
    width: 55%;
    font-size: large;
}
textarea{
    font-size: larger;
    width: 100%;
    resize: none;
    height: inherit;
    height: 300px;
    margin-top: 10px;
}
label{
    color: #212121;
    text-align: left;
    display: inline-block;
    width: 35%;
}
.container{
    text-align: center;
    margin: 0 auto;
    width: 45%;
}
.field{
    margin: 10px;
}
.left{
    width: 49%;
    float: left;
}
.right{
    width: 49%;
    float: right;
}
.description{
    width: 95%;
    margin:0 auto;
    clear: both;
}
.description label{
    width: 100%;
}

/* <---------------- TASK LIST ------------------> */

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
th{
    color: #ba607b;
}
tr{
    line-height: 30px;
    padding: 5px 5px;
}
td{
    color: #212121;
    margin: 0;
}
tr:nth-child(even) {
    background: #ffcedd;
}
.notasks{
    text-align: center;
    color: #212121;
}
.containerList{
    margin: 0 auto;
    width: 80%;
}
.containerList .description{
    width: 40%;
}
